.container {
    width: 100% !important;
    background-color: #00B0F0;
}

p {
    color: white !important;
    font-weight: lighter;
    font-size: 1em;
    text-align: justify;
}

#mybtn {
    margin-left: 500px;
    margin-bottom: 100px;
}

h5 {
    font-weight: lighter;
    font-size: 1.2em;
}

.fa-2x {
    margin: 15px 3px;
    font-size: 20px;
}

.fbk:hover {
    color: blue;
}

.lin:hover {
    color: #044E8C;
}

.ins:hover {
    color: #FF4500;
}

.gp:hover {
    color: #FF0000;
}

.tw:hover {
    color: #4169E1;
}