<div class="container">
    <!-- big card-->
    <!-- <div class="col s12 l6"> -->
        <div class="card orange">
            <div class="card-content">
                <h2 class="center">TeCloud Platform</h2>
                <h3 class="center">The Home of Innovation</h3>
            </div> 
        </div> 
    <!-- </div> -->
    <!-- small cards -->
    <div class="col s12 l4">
        <div class="card">
            <!-- <div class="col m4 l5 center">
                <i class="material-icons white-text ">archive</i> 
            </div> -->
            <div class="card-content">
                <h6 class="card-title center">TeCloud Platform</h6>
                <!-- <a href="#">get to know us more</a> -->
            </div>  
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card">
            <!-- <div class="col m4 l5 center">
                <i class="material-icons white-text ">archive</i> 
            </div> -->
            <div class="card-content">
                <h6 class="card-title center">TeCloud Platform</h6>
                <!-- <a href="#">get to know us more</a> -->
            </div>  
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card">
            <!-- <div class="col m4 l5 center">
                <i class="material-icons white-text ">archive</i> 
            </div> -->
            <div class="card-content">
                <h6 class="card-title center">TeCloud Platform</h6>
                <!-- <a href="#">get to know us more</a> -->
            </div>  
        </div>
    </div>
</div>
