<!-- home first content -->
<div class="row " id="index_first_content">
    <div class="col s12 l12 ">
        <div class="bigRectangle  col s12 l7 center">
            <div class="card ">
                <div class="card-content ">
                    <h2 class="col s12 l12 center ">TeCloud Platform</h2>
                    <h3 class="col s12 l12 center">The Home of Innovation</h3>
                </div>
            </div>
        </div>  <!--end of big rectangles -->
        <!-- small rectangles -->
        <div class="col s12 l4 push-l3">
            <div class="card med-lg-device-card">
                <div class="card-icon col m5 l5 center">
                    <i class="material-icons white-text">archive</i> 
                </div>
                <div class="card-content col m6 l6 ">
                    <h6 class="card-title">TeCloud Platform</h6>
                    <!-- <a href="#">get to know us more</a> -->
                </div>  
            </div>
            <div class="card med-lg-device-card ">
                <div class="card-icon col m5 l5 center">
                    <i class="material-icons white-text">archive</i>
                </div> 
                <div class="card-content col m6 l6 ">
                    <span class="card-title center">Our Services</span>
                </div>  
            </div>
            <div class="card med-lg-device-card ">
                <div class="card-icon col m5 l5 center">
                    <i class="material-icons white-text">archive</i> 
                </div>
                <div class="card-content col m6 l6 ">
                    <span class="card-title left">Meet our team</span>
                </div>  
            </div>
        </div> <!-- end of small rectangles column -->
    </div><!-- end of main col s12 l12-->
</div><!-- end of row -->
    