<!-- services container -->
<!-- <div class="container">  -->
        <div class="row services" id="main-services">
            <!-- web development -->
            <div class="row">
                <div class="col s12  l6 wow slideInLeft push-l1">
                    <div class="card">
                        <div class="card-content">
                            <h4>Website Development <i class="material-icons blue-text right">web</i> </h4>
                            <p>This is a Group for young computer enthusiasts, 
                                who are willing devout themselves into the tech world
                                and aquire vast knowledge vast knowlege in the IT domain.
                            </p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 wow fadeIn right right-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4 class="center">Web Development Tip</h4>
                        <p>This is a Group for young computer enthusiasts, 
                            who are willing devout themselves into the tech world
                            and aquire vast knowledge vast knowlege in the IT domain.
                        </p>
                    </div>
                    
                </div>
            </div>
            
            <!-- apps development -->
            <div class="row">
                <div class="col s12 l6 push-m2  wow slideInRight right">
                    <div class="card">
                        <div class="card-content">
                            <h4>App Development <i class="material-icons blue-text right">phone_iphone</i> </h4>
                            <p>This is a Group for young computer enthusiasts, 
                                who are willing devout themselves into the tech world
                                and aquire vast knowledge vast knowlege in the IT domain.
                            </p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 wow fadeIn left left-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4 class="center">App Development</h4>
                        <p>This is a Group for young computer enthusiasts, 
                            who are willing devout themselves into the tech world
                            and aquire vast knowledge vast knowlege in the IT domain.
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Games Development -->
            <div class="row">
                <div class="col s12 l6 wow slideInLeft push-l1">
                    <div class="card">
                        <div class="card-content">
                            <h4>Games Development <i class="material-icons blue-text right">games</i> </h4>
                            <p>
                                This is a Group for young computer enthusiasts, 
                                who are willing devout themselves into the tech world
                                and aquire vast knowledge vast knowlege in the IT domain.
                            </p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div> 
                </div>
                <div class="col s12 l6 wow fadeIn right right-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4 class="center">Games Development</h4>
                        <p>
                            This is a Group for young computer enthusiasts, 
                            who are willing devout themselves into the tech world
                            and aquire vast knowledge vast knowlege in the IT domain.
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- company analysis -->
            <div class="row">
                <div class="col s12 l6 push-m2  wow slideInRight right">
                    <div class="card">
                        <div class="card-content">
                            <h4>Company Analysis <i class="material-icons blue-text right">web</i> </h4>
                            <p>
                                This is a Group for young computer enthusiasts, 
                                who are willing devout themselves into the tech world
                                and aquire vast knowledge vast knowlege in the IT domain.
                            </p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 wow fadeIn left left-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4 class="center">Web Development Tip</h4>
                        <p>
                            This is a Group for young computer enthusiasts, 
                            who are willing devout themselves into the tech world
                            and aquire vast knowledge vast knowlege in the IT domain.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Games Development -->
            <div class="row">
                <div class="col s12 l6 wow slideInLeft push-l1 ">
                    <div class="card">
                        <div class="card-content">
                            <h4>Games Development <i class="material-icons blue-text right">games</i> </h4>
                            <p>
                                This is a Group for young computer enthusiasts, 
                                who are willing devout themselves into the tech world
                                and aquire vast knowledge vast knowlege in the IT domain.
                            </p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div> 
                </div>
                <div class="col s12 l6 wow fadeIn right right-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4 class="center">Games Development</h4>
                        <p>
                            This is a Group for young computer enthusiasts, 
                            who are willing devout themselves into the tech world
                            and aquire vast knowledge vast knowlege in the IT domain.
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- end of row class -->
<!--</div> end of container class -->