<!-- services container -->
<div class="container">  
    <div class="col s12 services ">
        <div class="row">
            <!-- web development -->
            <div class="card wow slideInUp">
                <div class="card-content">
                    <h4>Website Development <i class="material-icons blue-text right">web</i> </h4>
                    <p>This is a Group for young computer enthusiasts, 
                        who are willing devout themselves into the tech world
                        and aquire vast knowledge vast knowlege in the IT domain.
                    </p>
                    <hr>
                    <input type="button" class="btn-small orange right" value="Read More">
                </div>
            </div>

            <!-- apps development -->
            <div class="card rightDev1 wow slideInUp">
                <div class="card-content">
                    <h4>App Development <i class="material-icons blue-text right">phone_iphone</i> </h4>
                    <p>This is a Group for young computer enthusiasts, 
                        who are willing devout themselves into the tech world
                        and aquire vast knowledge vast knowlege in the IT domain.
                    </p>
                    <hr>
                    <input type="button" class="btn-small orange right" value="Read More">
                </div>
            </div>

            <!-- Games Development -->
            <div class="card wow slideInUp">
                <div class="card-content">
                    <h4>Games Development <i class="material-icons blue-text right">games</i> </h4>
                    <p>This is a Group for young computer enthusiasts, 
                        who are willing devout themselves into the tech world
                        and aquire vast knowledge vast knowlege in the IT domain.
                    </p>
                    <hr>
                    <input type="button" class="btn-small orange right" value="Read More">
                </div>
            </div> 

            <!-- company analysis -->
            <div class="card rightDev2 wow slideInUp">
                <div class="card-content">
                    <h4>Company Analysis <i class="material-icons blue-text right">details</i> </h4>
                    <p>This is a Group for young computer enthusiasts, 
                        who are willing devout themselves into the tech world
                        and aquire vast knowledge vast knowlege in the IT domain.
                    </p>
                    <hr>
                    <input type="button" class="btn-small orange right" value="Read More">
                </div>
            </div>

            <!-- Games Development -->
            <div class="card wow slideInUp">
                <div class="card-content">
                    <h4>Games Development <i class="material-icons blue-text right">games</i> </h4>
                    <p>This is a Group for young computer enthusiasts, 
                        who are willing devout themselves into the tech world
                        and aquire vast knowledge vast knowlege in the IT domain.
                    </p>
                    <hr>
                    <input type="button" class="btn-small orange right" value="Read More">
                </div>
            </div> 

            <!-- company analysis -->
            <div class="card rightDev2 wow slideInUp">
                <div class="card-content">
                    <h4>Company Analysis <i class="material-icons blue-text right">details</i> </h4>
                    <p>This is a Group for young computer enthusiasts, 
                        who are willing devout themselves into the tech world
                        and aquire vast knowledge vast knowlege in the IT domain.
                    </p>
                    <hr>
                    <input type="button" class="btn-small orange right" value="Read More">
                </div>
            </div>
        </div><!-- end of row class -->
    </div> <!--end of services class -->
</div><!-- end of container class -->