<div class="container header_content">
        <div class="row">
            <!-- start of big rectangles-->
            <div class="col s12 m12 l8 bigRectangle ">
                <div class="card">
                    <div class="card-content ">
                        <h2 class="enter">TeCloud Platform</h2>
                        <h3 class="center">The Home of Innovation</h3>
                    </div> 
                </div> 
            </div>
            <!--end of big rectangles -->
            <!-- start of small rectangles -->
                <div class="col s12 m4 l4 push-m2  push-l2 wow zoomIn med-lg-device-card">
                    <div class="card">
                        <div class="card-icon col m4 l5 center">
                            <i class="material-icons white-text ">archive</i> 
                        </div>
                        <div class="card-content">
                            <h6 class="card-title center">TeCloud Platform</h6>
                            <!-- <a href="#">get to know us more</a> -->
                        </div>  
                    </div>
                </div>
                <div class="col s12 m4 l4 push-m2 push-l2 wow zoomIn med-lg-device-card" data-wow-delay="0.5s">
                    <div class="card">
                        <div class="card-icon col m4 l5 center">
                            <i class="material-icons white-text">archive</i>
                        </div> 
                        <div class="card-content">
                            <span class="card-title center">Our Services</span>
                        </div>  
                    </div>
                </div>
                <div class="col s12 m4 l4 push-m2 push-l2 wow zoomIn med-lg-device-card" data-wow-delay="1s">
                    <div class="card">
                        <div class="card-icon col m4 l5  center">
                            <i class="material-icons white-text">archive</i> 
                        </div>
                        <div class="card-content">
                            <span class="card-title center">Meet our team</span>
                        </div>  
                    </div>
                </div>
            <!-- end of small rectangles -->
        </div><!-- end of row -->          
    </div>




    





    