/* LANDING PAGE STYLE */
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans';
    /* overflow: hidden; */
}
nav .nav-wrapper{
    background-color: rgba(0, 0, 0, 0) !important;
}
nav .container{
    margin-left: -2% !important;
}

nav ul li{
    margin: 0 5px;
    color: #fff !important;
}

nav ul li:hover{
    border-bottom: 3px solid #ffcc00;
    transition: 0.2s;
}

.li_border_style{
    border-bottom: 3px solid #ffcc00;
}

nav img{
    width: 150px;
    height: 100px;
    margin-top: -15px;
    margin-left: 10vh;
}

/* PARTICLES */
#particles-js{
    height: 100%;
    background: #000;
    width: 100%;  
}

.mainBg{
    height: 500px;
}

/* HEADER REXTANGLES SECTION BOXES */
.rectangles{
    margin-top: -560px;
}

.rectangles .bigRectangle .card{
    margin-top: 140px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.rectangles .bigRectangle h2{
    font-size: 45px;
    color:  #00B0F0;
}

.rectangles .bigRectangle h3{
    font-size: 20px;
    margin-top: -20px;
}

.rectangles .smallRectangles{
    margin-top: 60px;
}

.rectangles .smallRectangles h6{
    font-size: 15px;
}

.rectangles .smallRectangles .card .card-icon{
    height: 99.2px;
    background-color: #00B0F0;
}
.rectangles .smallRectangles .card .card-icon i{
    font-size: 50px;
    margin-top: 25px;   
}

/*SERVICES SECTION STYLE*/
 .services_bar{
    height: 50px;
    background-color: #000; 
    opacity: 0.9;
    margin-top: -22px;
    margin-bottom: 5%;
    box-shadow: 0px 15px 15px gray;   
} 

.services_bar h4{
    color: #cccccc;
    font-size: 20px;
    padding-top: 15px;
}

.services .card{
    width: 80vh !important;
    height: 45vh !important;
    margin-bottom: 10vh;
    box-shadow: 0px 10px 10px gray;
    transition: 1s;
}

.services hr{
    color: #d4d4d4 !important;
}

.services .btn-small {
    background-color: #7030a8 !important;
    box-shadow: 0px 15px 10px rgb(184, 180, 180);
    transition: 1s;
}

.services .card:hover{
    box-shadow: 0px 15px 10px rgb(194, 194, 194);
    transition: 1s;
}

/* ABOUT SECTION STYLES */
.aboutCards{
    background-color: #00B0F0;
    height: 380px;
}

.comp_profile_text{
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}

.aboutCards h2{
    color: #4c4c4c;
    font-size: 20px;
    padding-top: 50px;
}

.aboutCards h3{
    color: #4c4c4c;
    font-size: 15px;
    padding-bottom: 20px;
}

.aboutCards h4{
    color: #ffcc00;
    font-size: 20px;
}

.about h5{
    color: #4c4c4c;
    font-size: 20px;
}

.aboutCards .card{
    margin: -1px 0 50px 0;
    height: 350px;
}

.aboutCards i{
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 50%;
    transform: translate(200%, -80%);
    background-color: #7030a8;
    color: #fff;
}

.container .row .bg-of-soft-team img{
    width: 300px !important;
    padding: 50px 0;
}

.about{
    color: #7030a8;
    font: 800;
}


@media screen and (min-width: 1280px){
    /* .card-icon{
        height: 9vw;
    } */

    .mainBg{
        height: 600px;
    }

    .services_bar{
        margin-top: -23px;   
    } 

    .services .card{
        height: 38vh !important;
    }
}

/* 320 x 480 screen sizes*/
@media screen and (width: 320px){

    nav img{
        margin-left: 5%;
    }
    
    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        height: 80px;
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 60% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 290%;
    }
    .aboutCards .card{
        height: 300px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }
}

/* 360 x 640 screen sizes (Galaxy S5)*/
@media screen and (width: 360px){

    nav img{
        margin-left: 3%;
    }
    
    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        height: 80px;
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 40% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 185%;
        margin-top: 50px;
    }
    .aboutCards i{
        transform: translate(245%, -80%);
    }
    .aboutCards .card{
        height: 250px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }
}

/* 360 x 740 screen sizes (Galaxy S9, 9+)*/
@media screen and (width: 360px){

    /*homepage services card style*/
    .services .card{
        height: 35% !important;
        margin-bottom: 20px;
    }

    /*about page style*/
    .aboutCards{
        height: 160%;
        margin-top: 50px;
    }

}

/* 414 x 736 screen sizes (Iphone 6,7,8 plus)*/
@media screen and (width: 414px){

    nav img{
        margin-left: 8%;
    }
    
    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        height: 80px;
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 35% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 160%;
        margin-top: 50px;
    }
    .aboutCards i{
        transform: translate(280%, -80%);
    }
    .aboutCards .card{
        height: 250px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }
}

/* 768 x 1024 screen sizes (Ipad)*/
@media screen and (width: 768px){

    nav img{
        margin-left: 8%;
    }
    
    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        width: 300px;
        height: 80px;
        transform: translateX(55%)
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 25% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 115%;
        margin-top: 50px;
    }
    .aboutCards i{
        transform: translate(650%, -80%);
    }
    .aboutCards .card{
        height: 250px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    .aboutImgs img{
        width: 150px;
        margin-top: 40px;
    }

    .bg-of-soft-team img{
        margin-left: -40px;
        margin-top: 30px;
        width: 100px;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }
}

