/* LANDING PAGE STYLE */
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans';
    /* overflow: hidden; */
}
nav .nav-wrapper{
    background-color: rgba(0, 0, 0, 0) !important;
}
nav .container{
    margin-left: -2% !important;
}

nav ul li{
    margin: 0 5px;
    color: #fff !important;
}

nav ul li:hover{
    border-bottom: 3px solid #ffcc00;
    transition: 0.2s;
}

.li_border_style{
    border-bottom: 3px solid #ffcc00;
}

nav img{
    width: 150px;
    height: 100px;
    margin-top: -15px;
    margin-left: 10vh;
}

/* PARTICLES */
#particles-js{
    height: 100%;
    background: #000;
    width: 100%;  
}

.mainBg{
    height: 500px;
}

/* HEADER REXTANGLES SECTION BOXES */
.rectangles{
    margin-top: -600px;
}

.rectangles .bigRectangle .card{
    margin-top: 50px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.rectangles .bigRectangle h2{
    font-size: 45px;
    color:  #00B0F0;
}

.rectangles .bigRectangle h3{
    font-size: 20px;
    margin-top: -20px;
}

.rectangles .bigRectangle h4{
    font-size: 20px;
    padding-top: 20px;
}

.header-cards{
    margin-left: 40px; 
    margin-top: 30px;
}

.header-cards .card{
    height: 200px;
    background-color: #ffffff00; /*transparent color*/
}

.header-cards .card-title{
    font-size: 20px !important;
    padding: 20px 10px 0 10px;
    color: #ffcc00;
    filter: brightness(100%);
}

#left-title{
    margin-left: -10px;
}

#right-title{
    margin-left: -10px;
}

.header-cards p{
    font-family: Arial;
    font-size: 17px !important;
    color: #fff;
}

.header-cards ul {
    margin-top: -5px;
}

.header-cards ul li{
    font-family: Arial;
    font-size: 17px !important;
    margin-left: -20px;
    padding: 3px 0;
    color: #fff;
}


.header-cards ul li:before {
    content: '✓';
    padding: 0 15px;
    margin-left: -40px;
    color: green;
}

/* INDEX SERVICES */
.index-services .card{
    width: 80vh !important;
    height: 30vh !important;
    margin-bottom: 10vh;
    box-shadow: 0px 10px 10px gray;
    transition: 1s;
}

.index-services .card:hover{
    box-shadow: 0px 15px 10px rgb(194, 194, 194);
    transition: 1s;
}

.index-services .btn-small {
    background-color: #7030a8 !important;
    box-shadow: 0px 15px 10px rgb(184, 180, 180);
    transition: 1s;
}

.index-services .card h4{
    font-size: 14px ;
}

.index-services .card p{
    font-size: 13px;
}


/*SERVICES SECTION STYLE*/
 .services_bar{
    height: 50px;
    background-color: #000; 
    opacity: 0.9;
    margin-top: 190px;
    margin-bottom: 10%;
    box-shadow: 0px 15px 15px gray;   
} 

.section-follow{
    height: 50px;
    background-color: #000; 
    opacity: 0.9;
    margin-top: -20px;
    margin-bottom: 10%;
    box-shadow: 0px 15px 15px gray; 
}

.section-follow h4{
    color: #cccccc;
    margin-top: -15px;
    font-size: 20px;
    padding-top: 15px;
}

.services_bar h4{
    color: #cccccc;
    font-size: 20px;
    padding-top: 15px;
}

.services .card{
    width: 80vh !important;
    height: 55vh !important;
    margin-bottom: 10vh;
    box-shadow: 0px 10px 10px gray;
    transition: 1s;
}

.services .index-serv-big-cards .card{
    height: 50px !important;
}

.services .index-serv-big-cards .card{
    height: 50px !important;
}

.services hr{
    color: #d4d4d4 !important;
}

#services {
    /* background-image: url(../images/hdbg3.png); */
    background-image: linear-gradient(#16bffd,#cb3066);
    height: 100%;
    width: 100%;
}

#services_main_tip{
    padding-top: 50px;
    color: #ececec;
}
#services_tip{
    padding-bottom: 50px;
    color: rgb(216, 216, 216);
}

.services .btn-small {
    background-color: #7030a8 !important;
    box-shadow: 0px 15px 10px rgb(184, 180, 180);
    transition: 1s;
}

.services .big-card p{
    font-size: 13px;
}

.services .big-card .card:hover{
    box-shadow: 0px 15px 10px rgb(194, 194, 194);
    transition: 1s;
}

.services .big-card .card h4{
    font-size: 14px;
}

.services .big-card .card h5{
    font-size: 13px;
}

.services .small-cards .card{
    /* background-color: #7030a8 !important; */
    /* background-color: rgb(128,128,128); */
    background-color: #eeeeee;
    /* background-color: rgb(127,127,127); */
}

.services .small-cards .card:hover{
    box-shadow: 0px 15px 10px rgb(194, 194, 194);
}

.services .small-cards .card h6{
    font-size: 13px;
    padding: 20px 0 0 20px;
}

.services .small-cards .card p{
    padding: 0 0 0 15px;
    font-size: 11px;
}

/* services 1 style */
.services_contents{
    margin-top: 50px;
}

.services_contents .big-card .card{
    height: 43vh !important;
    margin-left: 50px;
}

.services_contents .small-cards .card{
    width: 300px !important;
    margin: -10px 0 0 -40px;
    box-shadow: 0px 0px 0px transparent;
}
.services_contents .small-cards .general .card{
    height: 15vh !important;
}

.services_contents .small-cards .ICT-sec-child .card{
    height: 20vh !important;
} 

.services_contents .small-cards .ICT-thr-child .card{
    height: 25vh !important;
    margin-top: -40px;
} 

.services_contents .small-cards .ICT-fif-child .card{
    height: 23vh !important;
} 

.services_contents .small-cards .Innc-sec-child .card{
    height: 30vh !important;
}  


/* ABOUT SECTION STYLES */
#about{
    background-color: #f3f0f0;
}

.about-header-card{
    padding-top: 100px;
}

.about-header-card h2{
    font-size: 45px;
    color:  #00B0F0;
}

.about-header-card h3{
    font-size: 20px;
    margin-top: -20px;
}

.aboutCards{
    background-color: #00B0F0;
    height: 380px;
}

.aboutCards h2{
    color: #4c4c4c;
    font-size: 20px;
    padding-top: 50px;
}

.aboutCards h3{
    color: #4c4c4c;
    font-size: 15px;
    padding-bottom: 20px;
}

.aboutCards h4{
    color: #ffcc00;
    font-size: 20px;
    margin: 10px 0;
}

.about h5{
    color: #4c4c4c;
    font-size: 20px;
}

.aboutCards .card{
    margin: -1px 0 50px 0;
    height: 350px;
}

.aboutCards i{
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 50%;
    transform: translate(180%, -90%);
    background-color: #7030a8;
    color: #fff;
}

.container .row .bg-of-soft-team img{
    width: 300px !important;
    padding: 50px 0;
}

.about{
    color: #7030a8;
    font: 800;
}

.about-container{
    padding: 20px 0 100px 0;
}

.about-container .card{
    background-color: rgb(201, 171, 230); 
}

.about-container .card h6{
    font-size: 25px;
    padding: 50px 0;
    color: #f3f0f0;
}

.about-container ul {
    list-style: none;
}

.about-container ul li{
    font-size: 18px;
    font-family: 'Gill Sans' !important;
}
  
.about-container ul li:before {
    content: '✓';
    padding: 0 15px;
    color: green;
}

.about-container .card .card-title{
    background-color: #7030a8;
    height: 150px;
    width: 200px;
}

.about-container .card .card-content{
    background-color: #cccccc;
    height: 150px;
    width: 200px;
}

.about-container .modal{
    margin-top: 500px !important; 
}

#ourTeamUl ul li:before{
    content: '✓';
    padding: 0 15px;
    color: green;
}

.core-values ul li{
    list-style: none;
}

.core-values li a{
    color: #000 !important;
}

/* contact style */
#contact {
    background-image: url(../images/hdbg3.png);
    height: 100%;
    width: 100%;
}

.contact-page-container{
    margin-top: 5%;
    margin-bottom: 10% !important;
}

.contact-page-container h5{
    color: #7030a8;
    font-size: 25px;
    font-weight: 500;
}

.contact-page-container p{
    color: #706f6f;
}

.contact-page-container .btn-small {
    width: 150px !important;
    margin-left: 150px;
    background-color: #7030a8 !important;
    box-shadow: 0px 15px 10px rgb(184, 180, 180);
    transition: 1s;
}

/* FOOTER STYLE */
.page-footer{
    height: 300px;
    background-color: #00B0F0 !important;
}

.page-footer h5{
    font-size: 18px;
}

.page-footer p, li{
    font-size: 13px !important;
}

#footer-copyright{
    margin-top: 18px;
}

#social_media_icons i{
    margin: -5px -25px 0 0 !important;
    color: #00B0F0 !important;
    font-size: 18px !important;
}

#social_media_icons i:hover{
    color: #ccc !important;
}


/* our team page style */
.ourTeam{
    /* background-image: url(../images/what-the-hex.png); */
    background-image: linear-gradient(#16bffd,#cb3066);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
}

/* ourTeam page styles */
.ourTeam .teal-text {
    color: #700080 !important;
    font-weight: bold !important;
}

.ourTeam h1{
    font-size: 40px !important;
    margin-top: 8px !important;
    margin-bottom: 1px !important;
}
.ourTeam h2{
    font-size: 30px !important;
    margin-top: 2px !important;
    margin-bottom: 8px !important;
}

.ourTeam h4{
    font-size: 20px !important;
    padding-bottom: 5%;
}

.ourTeam h5{
    font-size: 18px !important;
}

/* card image styles */
.ourTeam .card{
    border-radius: 5% !important;
    width: 260px !important;
}

.ourTeam .card-image {
    align-content: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100% !important;
    border-top-left-radius: 5% !important;
    border-top-right-radius: 5% !important;
}

.ourTeam .card-image img {
    height: 260px !important;
    transition: 0.5s ease-out;
}

.ourTeam .card-image:hover img {
    overflow: hidden;
    -webkit-transform: scale(1.18);
    transform: scale(1.18);
    transition: 0.5s ease-in;
}

 /* card, card-content, card-action styles */

.ourTeam .card .card-content p{
    font-size: 13px;
}

.ourTeam .card .card-content .card-title a{
    font-size: 18px !important;
    padding: 5px 0 !important;
    color: #00B0F0 !important;
    transition: 1s ease-out;
}

.ourTeam .card .card-content .card-title a:hover{
    color: #ccc !important;
    transition: 1s ease-in;
}


.ourTeam .card .card-content h5{
    font-size: 13px !important;
    padding-bottom: 4px !important;
    color: rgb(170, 170, 170) !important;
}

.dev-container{
    margin-left: 35px !important;
}

.line{
    height: 3px;
    width: 70px;
    margin: 10px 70px;
    background-color: #700080;
}

.view-profile-btn a{
    list-style: none;
    color: rgb(56, 54, 54);
    text-align: center;
    font-size: 12px;
    transition: 1s ease-out;
}

.view-profile-btn a:hover{
    color: white;
    transition: 1s ease-in;

}

.view-profile-btn {
    width: 120px;
    margin: 10px 0 0 50px !important;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    transition: 1s ease-out;
}

.view-profile-btn:hover {
    /* background-color: #d53ce9; */
    background-color: #700080;
    transition: 1s ease-in;
    
}

.ourTeam .card .card-action{
    background-color: #680077 !important; 
    border-bottom-left-radius:5px !important;
    border-bottom-right-radius:5px !important
}

.ourTeam .card .card-action span{
    color: white !important;
    margin-left: -10px !important;
}

.ourTeam .card-action a {
    margin-left: 5px !important;
    height: 20px !important;
    width: 10px !important
}

 /* picture box view */
 .ourTeam .materialboxed {
    -webkit-transition: 0.5s ease-in-out;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    cursor: pointer !important;
    -webkit-backface-visibility: hidden;
}
/* overriding the fading hover on picture effect */

.ourTeam .materialboxed:hover:not(.active) {
    opacity: 1 !important;
    cursor: pointer !important;
}
/* tooltips for the icons */
.ourTeam .tooltip {
    position: relative;
    display: inline;
    border-bottom: 1px solid;
}

.ourTeam .tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    border-radius: 6px;
    position: absolute;
    top: -38px;
    left: 103%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.ourTeam .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.ourTeam .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#memberDetail .memberBigImg{
    width: 450px;
    height: 450px;
    margin: -550px 0 0 40px;
    border-radius: 2%;
}

.description{
    margin: 100px 0 0 0;
}


/* rgb(158, 158, 158); lighter gray */ 


/* 1280px screen sizes */
@media screen and (min-width: 1280px){
    .comp_profile_text{
        margin-top: 150px !important;
        margin-bottom: 150px !important;
    }

    .mainBg{
        height: 600px;
    }

    .services_bar{
        margin-top: 139px;   
    } 

    /* .services .card{
        height: 38vh !important;
    } */
}

/* 320 x 480 screen sizes */
@media screen and (width: 320px){

    nav img{
        margin-left: 5%;
    }

    /* main background */
    .mainBg{
        height: 400px;
    }

    /* HEADER REXTANGLES SECTION BOXES */
    .rectangles{
        margin-top: -500px;
    }

    .rectangles .bigRectangle .card{
        margin-top: -20px !important;
    }

    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
        margin-bottom: -15px;
    }
    .rectangles .bigRectangle h2{
        font-size: 14px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 9px;
    }

    /* header cards */
    .header-cards{
        width: 100%;
        margin-left: -2%;
        margin-top: 30px;
    }
    
    .header-cards .card{
        height: 100px;
    }
    
    .header-cards .card-title{
        font-size: 14px !important;
        padding: 10px 10px 0 10px;
    }
    
    .header-cards p{
        font-size: 10px !important;
        text-align: center;
    }
    
    .header-cards ul {
        margin-top: -5px;
    }
    
    .header-cards ul li{
        font-size: 10px !important;
        width: 100%;
        margin-left: 15px;
        padding: 3px -2;
    }

    /* index page services cards */
    .index-services .card{
        width: 100% !important;
        height: 55vh !important;
        margin-bottom: 10vh;
    }

    .index-services .btn-small {
        margin: 5vh 10vh 0 -10vh !important;
    }
    
    .index-services .card h4{
        font-size: 15px ;
    }
    
    .index-services .card p{
        font-size: 14px;
    }
    
    /*about page styles*/
    .about-header-card .card{
        margin-top: -50px;
        height: 100px !important;
    }

    .about-header-card .card .card-content h2{
        font-size: 18px;
        margin-top: 10px !important;
    }
    
    .about-header-card .card .card-content h3{
        font-size: 11px;
    }

    /* about container cards */
    .about-container .card{
        height: 300px;
    }
    
    .about-container .card .card-title{
        margin-left: 10px !important;
        width: 8px;
        height: 300px;
    }

    .about-container .card .card-content{
        margin-left: 0.5px !important;
        width: 268px !important;
        margin-top: -0.5px !important;
        height: 300px;
    }

    .about-container .card .card-content h6{
        font-size: 22px;
        margin: -35px 0 0 0 !important;
        color:  #00B0F0;
    }

    .about-container .card .card-content p{
        font-size: 13px;
        text-justify: auto;
        margin-top: -29px;
    }

    .about-container .card .card-content  #reasons-ul{
        font-size: 13px;
        text-justify: auto;
        margin-top: -40px;
    }

    .about-container .card .card-content ul{
        margin-left: -10px !important;
        justify-content: left;
    }

    .about-container ul li:before {
        content: '✓';
        padding: 2px 5px;
    }
    
    /* about cards */
    .aboutCards{
        height: 900px !important;
    }

    .aboutCards .card{
        height: 250px !important;
    }

    .aboutCards h4{
        color: #ffcc00;
        font-size: 20px;
        margin: -15px 0 15px 0 !important;
    }

    h5{
        text-align: center;
    }

    .btn-small{
        margin-left: 70px !important;
    }


    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }

    /* team style */
    /* card image styles */
    .ourTeam .card{
        width: 250px !important;
        margin-left: 10px;
    }
    
    .ourTeam .card-image img {
        height: 200px !important;
        transition: 0.5s ease-out;
    }

    /* footer style */
    .page-footer{
        height: 450px;
    }

    .page-footer h5{
        font-size: 15px;
    }

    #footer-copyright{
        font-size: 10px;
        margin-top: 18px !important;
    }
}

/* 360 x 640 screen sizes (Galaxy S5)*/
@media screen and (width: 360px){

    nav img{
        margin-left: 3%;
    }

    /* main background */
    .mainBg{
        height: 400px;
    }

    /* HEADER REXTANGLES SECTION BOXES */
    .rectangles{
        margin-top: -500px;
    }

    .rectangles .bigRectangle .card{
        margin-top: -20px !important;
    }

    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
        margin-bottom: -15px;
    }
    .rectangles .bigRectangle h2{
        font-size: 14px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 9px;
    }

    /* header cards */
    .header-cards{
        width: 100%;
        margin-left: -1%;
        margin-top: 30px;
    }
    
    .header-cards .card{
        height: 100px;
    }
    
    .header-cards .card-title{
        font-size: 14px !important;
        padding: 10px 10px 0 10px;
    }
    
    .header-cards p{
        font-size: 10px !important;
        text-align: center;
    }
    
    .header-cards ul {
        margin-top: -5px;
    }
    
    .header-cards ul li{
        font-size: 10px !important;
        width: 100%;
        margin-left: 15px;
        padding: 3px -2;
    }

    /* index page services cards */
    .index-services .card{
        width: 100% !important;
        height: 40vh !important;
        margin-bottom: 10vh;
    }

    .index-services .btn-small {
        margin: 5vh 10vh 0 -10vh !important;
    }
    
    .index-services .card h4{
        font-size: 15px ;
    }
    
    .index-services .card p{
        font-size: 14px;
    }
    
    /*about page styles*/
    .about-header-card .card{
        margin-top: -50px;
        height: 100px !important;
    }

    .about-header-card .card .card-content h2{
        font-size: 18px;
        margin-top: 10px !important;
    }
    
    .about-header-card .card .card-content h3{
        font-size: 11px;
    }

    /* about container cards */
    .about-container .card{
        height: 300px;
    }
    
    .about-container .card .card-title{
        margin-left: 10px !important;
        width: 8px;
        height: 300px;
    }

    .about-container .card .card-content{
        margin-left: 0.5px !important;
        width: 305px !important;
        margin-top: -0.5px !important;
        height: 300px;
    }

    .about-container .card .card-content h6{
        font-size: 22px;
        margin: -35px 0 0 0 !important;
        color:  #00B0F0;
    }

    .about-container .card .card-content p{
        font-size: 13px;
        text-justify: auto;
        margin-top: -29px;
    }

    .about-container .card .card-content  #reasons-ul{
        font-size: 13px;
        text-justify: auto;
        margin-top: -40px;
    }

    .about-container .card .card-content ul{
        margin-left: -10px !important;
        justify-content: left;
    }

    .about-container ul li:before {
        content: '✓';
        padding: 2px 5px;
    }
    
    /* about cards */
    .aboutCards{
        height: 900px !important;
        margin-top: -15% !important;
    }

    .aboutCards .card{
        height: 250px !important;
    }

    .aboutCards h4{
        color: #ffcc00;
        font-size: 20px;
        margin: -15px 0 15px 0 !important;
    }

    h5{
        text-align: center;
    }

    .btn-small{
        margin-left: 70px !important;
    }


    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }

    /* team style */
    #team #member-info-img{
        margin-left: 50px;
    }

    #team h5{
        font-size: 18px;
        padding-top: 20px;
    }

    #team .social-link{
        margin: 0 0 0 80px;
    
    }

    /* footer style */
    .page-footer{
        height: 450px;
    }

    #footer-copyright{
        margin-top: 20px;
    }

}

/* 360 x 740 screen sizes (Galaxy S9, 9+)*/
@media screen and (width: 360px){

    /*homepage services card style*/
    .services .card{
        height: 35% !important;
        margin-bottom: 20px;
    }

    /*about page style*/
    .aboutCards{
        height: 160%;
        margin-top: 50px;
    }

}

/* 375 x 667 screen sizes (Iphone 6/7/8 Plus)*/
@media screen and (width: 375px){

    nav img{
        margin-left: 5%;
    }

    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        height: 80px;
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 35% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 160%;
        margin-top: 50px;
    }
    .aboutCards i{
        transform: translate(250%, -80%);
    }
    .aboutCards .card{
        height: 250px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }

    /*homepage services card style*/
    .services .card{
        height: 40% !important;
        margin-bottom: 20px;
    }

    /* team style */
    #team #member-info-img{
        margin-left: 60px;
    }

    #team h5{
        font-size: 18px;
        padding-top: 20px;
    }

    #team .social-link{
        margin: 0 0 0 80px;
    
    }

    /* footer style */
    .page-footer{
        height: 410px;
    }

    #footer-copyright{
        margin-top: -5px;
    }

}

/* 414 x 736 screen sizes (Iphone 6,7,8 plus)*/
@media screen and (width: 414px){

    nav img{
        margin-left: 8%;
    }
    
    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        height: 80px;
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 35% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 160%;
        margin-top: 50px;
    }
    .aboutCards i{
        transform: translate(280%, -80%);
    }
    .aboutCards .card{
        height: 250px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }

    /* team style */
    #team #member-info-img{
        margin-left: 75px;
    }

    #team .social-link{
        margin: 0 30px 0 100px;
    
    }

    /* footer style */
    .page-footer{
        height: 530px;
    }
}

/* 768 x 1024 screen sizes (Ipad)*/
@media screen and (width: 768px){

    nav img{
        margin-left: 8%;
    }
    
    /*big rectangles style*/
    .rectangles .bigRectangle .card{
        margin-top: 50px !important;
    }
    .rectangles .bigRectangle h2{
        font-size: 20px;
        font-weight: bolder;
    }
    .rectangles .bigRectangle h3{
        font-size: 10px;
    }
    /*small rectangles style*/
    .rectangles .smallRectangles{
        margin-top: -20px;
    }
    .rectangles .smallRectangles .card{
        width: 300px;
        height: 80px;
        transform: translateX(55%)
    }
    .rectangles .smallRectangles .card .card-icon{
        height: 80px;
        width: 80px;
    }
    .rectangles .smallRectangles .card .card-icon i{
        font-size: 30px;
    }
    .rectangles .smallRectangles h6{
        margin-top: -3px;
    }
    /*homepage services card style*/
    .services .card{
        width: 100% !important;
        height: 25% !important;
        margin-bottom: 20px;
    }
    .services .card h4{ 
        font-size: 18px;
        font-weight: bolder;
    }
    
    /*about page style*/
    .aboutCards{
        height: 115%;
        margin-top: 50px;
    }
    .aboutCards i{
        transform: translate(650%, -80%);
    }
    .aboutCards .card{
        height: 250px;
    }
    .aboutCards h4{
        margin: -10px 0 20px 0;
    }

    .aboutImgs img{
        width: 150px;
        margin-top: 40px;
    }

    .bg-of-soft-team img{
        margin-left: -40px;
        margin-top: 30px;
        width: 100px;
    }

    /*services page style*/
    #services_main_tip{
        font-size: 25px;
    }

    #services_tip{
        font-size: 13px;
    }
    .services .text-title{
        font-size: 20px;
    }

    /* team style */
    #team #member-info-img{
        height: 200px;
        width: 200px;
        margin-left: 50px;
    }

    #team .social-link{
        margin: 0 0 0 80px;
    
    }

    /* footer style */
    .page-footer{
        height: 350px;
    }
}

/* NOTE 3 */

