/* LANDING PAGE STYLE */
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans';
    /* overflow: hidden; */
}
nav .nav-wrapper{
    background-color: rgba(0, 0, 0, 0) !important;
}
nav .container{
    margin-left: -2% !important;
}

nav ul li{
    margin: 0 5px;
    color: #fff !important;
}

nav ul li:hover{
    border-bottom: 2px solid #ffcc00;
    transition: 0.2s;
}

nav img{
    width: 150px;
    height: 100px;
    margin-top: -15px;
    margin-left: 30px;
}

#index_first_content{
    margin-top: -60%;
}

#particles-js{
    height: 100%;
    background: #000;
    width: 115.6%;
    /* width: 100%; */
    margin-left: -210px !important;
    /* margin-top: -6%; */
    
}
.bigRectangle .card{
    margin-top: 15px;
    margin-left: -150px;
    height: 400px;
    width: 850px;
    background-color: #000;
    opacity: 0.5 !important;
  }

.bigRectangle .card:hover{
    box-shadow: 0px 8px 15px #000; /*top & bottom=0, left & right=8px, glow=15px, color=black */
}
  
.bigRectangle .card h2{
    font-size: 60px;
    color:  #00B0F0;
    margin-top: 120px;
  }
  
.bigRectangle .card h3{
    margin-top: -20px;
    width: 500px;
    font-size: 23px;
    color: #fff;
    font-stretch: ultra-expanded;
  }

/*SERVICES SECTION START*/
.services_bar{
    height: 50px;
    width: 100%;
    background-color: #000; 
    opacity: 0.9;
    margin-top: 4%;
    margin-bottom: 30px;
    box-shadow: 0px 15px 15px gray;   
}

.services_bar h4{
    color: #cccccc;
    font-size: 20px;
    padding-top: 15px;
}

.services .card{
    width: 400px;
    height: 250px;
    margin: 50px 0;
    box-shadow: 0px 10px 10px gray;
}

.services hr{
    color: #d4d4d4;
}

.services .card:hover{
    box-shadow: 0px 15px 10px gray;
}

.services .card .card-content h4{
    font-size: 20px;
}

  /*Small Rectangle*/
.med-lg-device-card{
    height: 100px;
    width: 300px;
    margin-top: 10px !important;
    margin-bottom: 50px !important;
    
}
.med-lg-device-card:hover{
    box-shadow: 0px 8px 15px #000; /*top & bottom=0, left & right=8px, glow=15px, color=black */
}
.med-lg-device-card .card-icon{
    height: 100px;
    width: 100px !important;
    background-color: #00B0F0;
}
.med-lg-device-card .card-icon i{
    font-size: 50px;
    margin-top: 35%;
    
}
 .med-lg-device-card .card-content .card-title{
    margin-top: 15;
    font-size: 10px;
 }
 .med-lg-device-card .card-content i{
     margin-top: -55px;
     margin-left: 160px;
 }
 .med-lg-device-card .card-content i:hover{
    border-radius: 20%;
    color: #fff;
    background: #000;
    opacity: 1;
}

/*footer social media icons*/
#social_media_icons{
    margin: 0 5px;
}


/*small screen menu*/
.sidenav{
    height: 150px;
}


/*media query*/
/* @media screen and (max-width: 1920px){
    #particles-js{
        height: 100%;
        background: #000;
        width: 112%;
        margin-left: -210px !important;
    }

    .services_bar{
        margin-top: 10%;  
    }
} */

/* 1366 x 768 laptops and above*/
@media screen and (min-width: 1366px){

    #particles-js{
        width: 115.5%;
    }

    .services_bar{
        margin-top: 8%;  
    }

    /*slide bar*/
    .slide-nav{
        margin-top: -150px;
        margin-left: 300px;
        width: 0;
        height: 300px;
        position: fixed;
        z-index: 1;
        background-color: #111;
        opacity: 0.6;
        overflow-x: hidden;
        transition: 0.5s;
    }
}

/* 1280 x 720 laptops and above*/
@media screen and (min-width: 1280px){

    /*slide bar*/
    .slide-nav{
        margin-top: -165px;
        margin-left: 400px;
        width: 0;
        height: 300px;
        position: fixed;
        z-index: 1;
        background-color: #111;
        opacity: 0.6;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .services .rightDev1{
        margin-top: -300px;
        float: right;
    }
    
    .services .rightDev2{
        margin-top: -300px;
        float: right;
    }
}

/* screen of 800 x 1280 px */
@media screen and (max-width: 800px){

    #index_first_content{
        margin-top: -140%;
    }
    
    #particles-js{
        width: 127.3%;
        height: 90%;
    }

    .bigRectangle .card{
        width: 100% !important;
        margin-left: 1% !important;
    }

    .bigRectangle .card h2, h3{
        margin-left: 2% !important;
    }

      /*Small Rectangle*/
    .med-lg-device-card{
        width: 400px;
        margin-left: 20% !important;
        
    }
    .med-lg-device-card .card-content .card-title{
        margin-top: 10px !important;
        font-size: 15px;
    }

    .services_bar{
        margin-top: 3.3%; 
        width: 100% !important; 
    }
    .services .card{
        width: 500px;
        height: 250px;
        margin-left: 80px;
        margin-right: 50px; 
    }

} 

/*320 x 480 screen size*/
@media screen and (max-width: 320px){

    #index_first_content{
        margin-top: -250%;
    }
    
    #particles-js{
        width: 170%;
        height: 130%;
    }

    .bigRectangle .card{
        width: 280px;
        margin-left: -7%;
        height: 150px;
    }

    .bigRectangle .card h2{
        margin-top: 90px;
        font-size: 24px;
    }
    .bigRectangle .card h3{
        font-size: 11px;
        margin-top: -5px;
        margin-bottom: 60px;

    }
      /*Small Rectangle*/
    .med-lg-device-card{
        height: 100px;
        width: 250px;
        margin-bottom: 2%;
    }

    .med-lg-device-card .card-icon{
        height: 100px;
        width: 100px !important;
        background-color: #00B0F0;
    }

    .services_bar{
        margin-top: -2%;   
    }

    .services .card{
        width: 280px;
        height: 280px;
        margin-left: 5px;
    }

}