<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l4">
                <h5 class="wow jackInTheBox">Contact Us</h5>
                <!-- <hr> -->
                <!-- email and office address -->
                <p class="wow zoomIn"><i class="material-icons left">email</i><a href="#"></a>tecloud@platfrom.sl</p>
                <p class="wow zoomIn"><i class="material-icons left">home</i>56 Berwick street, Freetown, Sierra leone</p>
                <p class="wow zoomIn"><i class="material-icons left">phone_iphone</i>+232 99-507205 | +232 79-712365</p>
            </div>
            <div class="col s6 m3 l3 push-m2 push-l2 ">
                <h5 class="wow jackInTheBox hide-on-small-only">Know more</h5>
                <!-- <hr> -->
                <ul>
                    <li><a href="/" class="grey-text text-lighten-3 wow flash">Home</a></li>
                    <li><a href="/about" class="grey-text text-lighten-3 wow flash">About us</a></li>
                    <li><a href="/ourTeam" class="grey-text text-lighten-3 wow flash">Team</a></li>
                    <li><a href="/services" class="grey-text text-lighten-3 wow flash">Services</a></li>
                    <li><a href="/contact" class="grey-text text-lighten-3 wow flash">Contact</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">Privacy &amp; Policy</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">Terms &amp; Condition</a></li>
                </ul>
            </div>
            <div class="col s6 m4 l4 push-m2 push-l2 hide-on-small-only">
                <h5 class="wow jackInTheBox">connect with us</h5>
                <!-- <hr>   -->
                <!-- social icons and links -->
                <div class="row hide-on-small-only">
                    <a href="#" class="btn-floating btn-small indigo darken-1 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="visit our facebook page">
                        <i class="fab fa-facebook"></i></a>
                    <a href="#" class="btn-floating btn-small blue lighten-1 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="follow us on Twitter">
                        <i class="fab fa-twitter"></i></a> 
                    <a href="#" class="btn-floating btn-small blue darken-3 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="follow us on linkedin">
                        <i class="fab fa-linkedin"></i></a>
                    <a href="#" class="btn-floating btn-small  red darken-4 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="follow us on Instagram">
                        <i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div id="footer-copyright" class="container center-align">Copyright &copy; tecloud platform, 2019</div>
    </div>
</footer>
