 <!---------- Navigation---------->
 
<!--  header -->
<header class="navbar-fixed">  
    <nav class="nav-wrapper black">
        <div class="container">
            <a href="/" class="brand-logo"><img src="images/TeCloud-Logo-Transparent.png" alt=""></a>
            <a href="#"  class="sidenav-trigger" data-target="mobile-view">
                <i class="material-icons ">menu</i>
            </a>

            <ul class="right hide-on-med-and-down ">
                <li id="homeLink"><a href="/">Home</a></li>
                <li id="aboutLink"><a href="/about">About</a></li>
                <li id="servicesLink"><a href="/services">Services</a></li>
                <li id="ourTeamLink"><a href="/our_team">Our Team</a></li>
                <li id="contactLink"><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header> 

<!-- mobile view links -->
<ul class="sidenav" id="mobile-view">
    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/our_team">Our Team</a></li>
    <li><a href="/contact">Contact Us</a></li>
</ul> 
 



