<html lang="en">
<head>
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/template/header.ejs %>

    <div class="container">
        <img id="about-logo" src="images/TeCloud-Logo-Transparent.png" alt="">
        <p>The blockchain is an undeniam To date, the total value of the currency is close to $9 billion US. 
            And blockchains can make other types of digital value. Like the internet (or your car), 
            you don’t need to know how the blockchain works to use it. However, having a basic knowledge 
            of this new technology shows why it’s considered revolutionary.So, we hope you enjoy this, 
            What Is Blockchain Guide. And if you already know what blockchain is and want to become a 
            blockchain developer (2018 – currently in high demand!) please check out our in depth 
            blockchain tutorial and create your very first blockchain.
        </p>
        <br>
        <p>The blockchain is an undeniam To date, the total value of the currency is close to $9 billion US. 
            And blockchains can make other types of digital value. Like the internet (or your car), 
            you don’t need to know how the blockchain works to use it. However, having a basic knowledge 
            of this new technology shows why it’s considered revolutionary.So, we hope you enjoy this, 
            What Is Blockchain Guide. And if you already know what blockchain is and want to become a 
            blockchain developer (2018 – currently in high demand!) please check out our in depth 
            blockchain tutorial and create your very first blockchain.
        </p>
    </div>
      <!-- including the js scripts template -->
      <% include partials/template/jsscripts.ejs %>
</body>
    <!-- including the footer template -->
    <% include partials/template/footer.ejs %>
</html>