<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <!-- mixpanel.track("Video play"); -->
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/template/header.ejs %>
    
    <div class="row mainBg">
        <!-- checking the current page is the home -->
        <% if(pageID == 'home') { %>
            <div id="particles-js"></div> <!--particles js-->
        <% } %>
        
        <div class="row rectangles">
            <div class="container">
                <div class="row">
                    <!-- big card -->
                    <div class="col s12 l12 bigRectangle">
                        <div class="card">
                            <div class="card-content">
                                <h2 class="center">TeCloud Platform</h2>
                                <h3 class="center white-text">The Home of Innovation</h3>
                            </div> 
                        </div> 
                    </div>
                    <!-- advert-cards -->
                    <div class="header-cards">
                        <div class="col s12 m6 pull-m1">
                            <div class="card">
                                <div class="card-title center" id="left-title">Empowering business Growth</div>
                                <div class="card-content">
                                    <p>
                                        We design and develop ICT, graphics and software products and services 
                                        that meets your business needs.                                    
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-title center" id="right-title">Empowering developers and startupers</div>
                                <div class="card-content">
                                    <p>
                                        <ul>
                                            <li>Join our free software development meetup</li>
                                            <li>Free mentorship and coaching on your startup idea</li>
                                            <li>Get free training materials</li>
                                        </ul>                                   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of the header cards class-->
                </div><!-- end of main row -->
            </div><!-- end of main container -->  
        </div> <!-- end of entire rectangles section -->
    </div> <!-- end of main row -->

    <!-- sevrices template -->
    <section class="section section-follow white-text center">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Our Services</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="row services_bar">
        <h4 class="center">Our Services</h4>
    </div>  -->

    <!-- including the index services -->
    <% include partials/content/index_service_content.ejs %>

    <!-- including the js scripts template -->
    <% include partials/template/jsscripts.ejs %>
</body>
    <!-- including the footer template -->
    <% include partials/template/footer.ejs %>
</html>