<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <!-- mixpanel.track("Video play"); -->
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/template/header.ejs %>

    <% include partials/content/header_content.ejs %>

    <!-- sevrices template -->
    <% include partials/content/index_service_content.ejs %>



    <!-- including the js scripts template -->
    <% include partials/template/jsscripts.ejs %>
</body>
    <!-- including the footer template -->
    <% include partials/template/footer.ejs %>
</html>