<html lang="en">
<head>
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/template/header.ejs %>

    <!-- invest section-->
    <% include partials/content/invest_cont.ejs %>

    <!-- including the footer template -->
    <% include partials/template/footer.ejs %>

    <!-- including the js scripts template -->
    <% include partials/template/jsscripts.ejs %>

</body>
</html>