<html lang="en">
<head>
    <% include partials/template/head.ejs %>
  
</head>
<body id="<%= pageID %>" class="ourTeam">
    <!-- header template-->
    <% include partials/template/header.ejs %>

    <h4 class="center" id="services_main_tip">Our Team, Our Best Assert</h4>

    <!-- importing the team managers template -->
    <% include partials/content/managers.ejs %>

    <!-- importing the team developers templates -->
    <% include partials/content/developers.ejs %>
    
    
    <!-- including the footer template -->
    <% include partials/template/footer.ejs %>

    <!-- including the js scripts template -->
    <% include partials/template/jsscripts.ejs %>

</body>
</html>