<html lang="en">
<head>
    <!-- head template -->
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template -->
    <% include partials/template/header.ejs %>

    <!-- services content template -->
        <h4 id="services_main_tip" class="center" data-wow-delay=0.5s>Our Quality Services</h4>
        <p id="services_tip" class="center">providing what you want, just in time with quality is our profession </p>
        <% include partials/content/services_content.ejs %>

    <!-- footer template -->
    <% include partials/template/footer.ejs %>

    <!-- js scripts template -->
    <% include partials/template/jsscripts.ejs %>

</body>
</html>