<html lang="en">
<head>
    <!-- head template -->
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template -->
    <% include partials/template/header.ejs %>

    <!-- services content template -->
    <div class="services_coll">
        <h4 id="services_main_tip" class="center">Our Quality Services</h4>
        <p id="services_tip" class="center">providing what you want, just in time with quality is our profession </p>
        <!-- header template -->
        <% include partials/content/services_content.ejs %>
    </div>

    <!-- footer template -->
    <% include partials/template/footer.ejs %>

    <!-- js scripts template -->
    <% include partials/template/jsscripts.ejs %>

</body>
</html>